body > *:not(:first-child) {
  margin-top: 24px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#cards .card {
  background: rgb(30, 115, 165);
  color: #eee;
  font-size: 24px;
  border-radius: 6px;
  width: 65px;
  border: 2px solid rgb(6, 78, 119);
  padding: 24px 0;
  margin: 4px;
}

#cards .card:disabled {
  border-color: rgb(69, 160, 212);
  background: rgb(115, 194, 240);
}

html,
body,
input,
button {
  font-size: 18px;
  font-family: 'Fantasque Sans Mono', Menlo, Monaco, 'Ubuntu Mono', Consolas, monospace;
  background: #efe;
}

input {
  border-radius: 3px;
  border: none;
  padding: 6px;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

.user {
  display: flex;
  margin: 4px 0;
}

.user > * {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 4px;
}

.user > *:first-child {
  width: 20%;
  max-width: 150px;
  min-width: 100px;
}

.user .estimate {
  border-radius: 3px;
}

.user .estimate.ready {
  background: rgb(148, 223, 51);
}

.user .estimate.waiting {
  color: #eee;
  background: rgb(8, 104, 160);
}

button {
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
}
